# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
.venv/
#*.env


# Logs
*.log

#don't push model and video files
*.pt

data/outputs/videos/*


# Docker
dockerfile
.dockerignore
